@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'San Francisco';
    src: url('path/to/SanFrancisco-Regular.woff2') format('woff2'),
         url('path/to/SanFrancisco-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }